/*ItemCount Css*/
.AddButtons{
    width: 10rem;
  }
    .Buttons{
      width: 100%;
      display: flex;
      justify-content: space-around;
      border-style: solid;
      border-color: #dcd7c9;
      border-radius: 15px 15px 15px 15px;
    }
    .pdpBtns{
      height: 1.5rem;
      width: auto;
      color: #dcd7c9;
    }
    .pdpBtns:hover{
      color: #A27B5C;
    }
    .btn  {
      background-color: #dcd7c9;
      color: #2C3639;
    }
    .btn:hover,
    .circle:hover{
      background-color: #A27B5C;
      color: #2C3639;
    }
    .Buttons span{
      color: #dcd7c9;
    }
    .circle {
      width: 1.5rem;
      height: 1.5rem;
      line-height: 1.5rem;
      border-radius: 50%;
      font-size: 1rem;
      text-align: center;
      background: #2C3639;
      
    }
    #circle-content {
      text-decoration: none !important;
      color: #dcd7c9;
      list-style: none;
    }
    /*ItemListContainer Css*/
    
    /*ItemList Css*/

    #itemList{
        display: flex;
        width: 50%;
        margin: auto;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 2rem;

    }
    /*Item Css*/
    .card{
        display: flex;
        text-align: center;
    }
    /*ItemDetail*/

    .itemContainer{
      box-shadow: 10px 10px 5px 0px rgba(101,101,101,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(101,101,101,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(101,101,101,0.75);
  }
  .itemDetail{
      align-self: center;
      /* border: 3px solid #F2E2C4; */
      
  }
  .imgContain{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: auto;
  }
  
  .imgContain img {
      max-width: 100%;
      max-height: 100%;
      
  
  }
  .productDetail {
      padding: 3rem;
  }
  .titleDetail {
      font-size: 2.6rem;
      font-family: 'Dancing Script', cursive;
  }
  .priceDetail {
      font-size: 1.8rem;
  
  }
  .detailP{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin-inline: 30% 30%;
    line-height: 2rem;
    

  }